# tensorflow
scikit-learn
urllib3
dataclasses
pathlib
# sqlalchemy
pandas
# psycopg2-binary
gdown
# dvc
mlflow
notebook
numpy
# matplotlib
# seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
# Flask
# Flask-Core
dagshub
kfp
kfp-kubernetes
-e .
